.display-card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.show-donaer{
    text-align: center;
   font-size: 40px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (min-width: 300px) and (max-width: 600px){
    .show-donaer{
        font-size: 30px;
    }
}