.count-card {
    height: 100px;
    width: 120px;
    background-color: #fc6a09;
    border-radius: 4px;
    margin-left: 0px;
    margin-top: 50px;
}

.numer-count {
    text-align: center;
    color: white;
}

.num {
    margin-top: -10px;
}

.blood-grp-container {
    height: 250px;
    width: 550px;
    box-shadow: 0 0 3px 0.5px black;
    margin-top: 50px;
    position: relative;
}

.containt-container {
    display: flex;
}

.cardimgg {
    height: 200px;
    width: 250px;
    margin-top: -10px;
    padding-left: -20px;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}

.sms-container {
    width: 275px;
    background-color: #ff0080;
    height: 55px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    color: white;
}

.detail-container {
    text-align: center;
    padding-top: 19px;
    font-weight: bold;
    font-size: 15px;
    width: 275px;
    background-color: #eee;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 41px;
    cursor: pointer;
}

.bld-grp {
    position: absolute;
    top: -25px;
    right: 0px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    background-color: #ff0080;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 14px;
    padding-right: 14px;
}

.spncer-card {
    height: 420px;
    width: 350px;
    box-shadow: 0 0 3px 0.5px black;
    border-radius: 5px;
    position: relative;
}

.sponcer-title {
    margin-left: 20px;
    padding-top: 30px;
}

.sponcer-text {
    margin-left: 20px;
    font-size: 18px;
    padding-bottom: 35px;
}

.sponce-img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: 270px;
}

.sponce-name {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    padding-top: 15px;

}
.sponce-slogen{
    margin-left: 20px;
}
.carddd-container{
    height: 260px;
    width: 290px;
    box-shadow: 0 0 5px 0.5px orangered;
    background-color: white;
    border-radius: 10px;
    margin-top: 70px;
}
.heading-card{
    text-align: center;
    padding-top: 20px;
}
.text-card{
    font-size: 20px;
    text-align: justify;
    padding: 12px;
}
.btn-card-btn{
    padding: 10px 15px;
    font-size: 18px;
    margin-left: 75px;
    border: none;
    border-radius: 30px;
    margin-top: -15px;
    background-color: #fc6a09;
    color: white;
}
.StepsCard{
    margin: 10px;
    box-shadow: 0 0 5px 0.5px rgb(151, 151, 150);
    padding: 20px;
    height: 150px;
    width: 400px;

}
.stepcard-title{
    color: #fc6a09;
}
.facility-container{
  
    padding: 20px;
}
.facility{
    display: flex;
   margin: 20px;
}
.facilitycard-title{
    margin-left: 20px;
}
.facilitycard-description{
    margin-left: 20px;
}
.faciBtn{
    margin-left: 20px;
    padding: 5px;
    background-color: rgb(173, 171, 171);
    border-radius: 2px;
}
.faciBtn:hover{
    background-color: #f0d8c9;
    transition: 0.5s;
    cursor: pointer;
}
.Team-Card-container{
    height: 480px;
    width: 300px;
    box-shadow: 0 0 20px -10px black;
    margin: 10px;
   
   
}
.team-member-image{
    height: 300px;
    width: 280px;
    
}
.team-member-image{
    display: block;
    margin: 10px auto;
}
.team-members-name{
    text-align: center;
}
.profile-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: -20px;
    font-size: 20px;
    
}
.profile-link{
    color: black;
}
.education-para{
   padding-left: 10px;
   padding-right: 10px;
}
@media screen and (min-width:200px) and (max-width:710px){
    .StepsCard{
        width: 300px;
    }
    .blood-grp-container{
        height: 231px;
        width: 400px;
        margin-top: 40px;
    }
    .cardimgg{
        height: 150px;
        width: 180px;
    }
    .nameofdonor{
        font-size: 24px;
    }
    .bld-grp{
        font-size: 15px;
        padding: 5px 8px;
        margin-top: 25px;
    }

}
@media screen and (min-width:710px) and (max-width:900px){
    .StepsCard{
        width: 500px;
    }
}
@media screen and (min-width:900px) and (max-width:1300px){

}


