.hospital-card{
    width: 330px;
    height: 30px;
    border: 1px solid rgb(214, 48, 48);
   padding-bottom: 30px;
    margin: 10px;
    border-radius: 10px;
    background-color: #fc6a09;
    display: block;
    margin: 10px auto;
    font-size: 10px;
    padding-left: 10px;
    cursor: pointer;
}