.btn-navbar {
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    background-color:#fc6a09;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 60px;
}
.btn-navbar:hover{
    background-color:#1e2a36;
    color: #fc6a09;
    border: 2px solid #fc6a09;
    cursor: pointer;
}
.btn-navbar-out{
    background-color:#1e2a36;
    color: #fff;
    border: 2px solid #fff;
    cursor: pointer;
    height: 50px;
    width: 150px;
    margin-left: 20px;
    margin-top: 30px;
    font-size: 16px;
    border-radius: 5px;
}
.btn-navbar-out:hover{
    color: #fc6a09;
    border: 2px solid #fc6a09;
}
.btn-findblood{
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    background-color:#fc6a09;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 345px;

}
.btn-findblood:hover{
    background-color: rgba(255, 255, 255, 0.174);
    border: 2px solid #fc6a09;
    cursor: pointer;
    font-weight: bold;
}
.btn-search{
    height: 50px;
    width: 150px;
    border: none;
    color: white;
    background-color:#fc6a09;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 10px;
   
}
.btn-search:hover{
    background-color:white;
    color: #fc6a09;
    border: 2px solid #fc6a09;
    cursor: pointer;
}
.btncardout{
    border: 2px solid white;
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-size: 16px;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    background-color: #fc6a09;
    color: white;
}


@media screen and (min-width: 300px) and (max-width: 600px){
    .btn-navbar{
        margin-left: 25px;
        font-size: 15px;
        height: 30px;
        width: 100px;
        margin-right: 9px;
    }
    .btn-navbar-out{
        margin-left: 0px;
        margin-top: 70px;
        height: 30px;
        width: 100px;
        margin-left: -110px;
        font-size: 15px;
    }
}