.form-container{
    box-shadow: 1px 3px 1px 3px rgb(251, 46, 5);
    display: flex;
    height:450px;
    width: 1000px;
    justify-content:space-evenly;
    padding-top: 40px;
    margin-left: 300px;
    margin-top: 100px;
}
.submit-btn{
    background-color: #fc6a09;
    border: none;
    border-radius: 10px;
    font-size:22px;
    padding: 10px;
    color: white;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 30px;
}
.img-signup{
    height: 400px;
}
.input-box{
    margin: 15px;
    height: 30px;
    
}
.text-name{
    margin-right: 28px;
}
.text-pass{
    margin-right: 5px;
}
.text-mail{
    margin-right: 28px;
}
.text-mobile{
    margin-right: 22px;
}
.title-signup{
 
    margin-left:80px;
    
}