.form-containers{
    height: 530px;
    width: 1000px;
    box-shadow: 0 1px 3px 1px orangered;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;

}
.titile{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
}
.input-field{
    padding: 12px 15px;
    margin-left: 40px;
    border-radius: 10px;
    width: 295px;
    border: 1px solid lightgrey;
    font-size: 16px;
   
}
.grp{
    width: 328px;
}
.input-btn{
    background-color: orangered;
    font-size: 20px;
    color: white;
    padding: 13px 25px;
    border: none;
    border-radius: 12px;
    margin-left: 120px;
}
.img-contactus{
    height: 400px;
    width: 400px;
    margin-top: 60px;
}