.form-containers{
    height: 500px;
    width: 400px;
    box-shadow: 0 0 5px 3px #787777;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border-radius: 10px;
    background-color: rgb(251, 215, 215);
}
.titile{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 30px;
}
.input-field{
    padding: 12px 15px;
    margin-left: 40px;
    border-radius: 22px;
    width: 295px;
    border: 2px solid black;
    font-size: 16px;
    box-shadow: 0 0 2px 1px black;
}
.grp{
    width: 328px;
}
.input-btn{
    background-color: orangered;
    font-size: 20px;
    color: white;
    padding: 13px 25px;
    border: none;
    border-radius: 12px;
    margin-left: 120px;
}
