.bb-heading {
    color: rgb(177, 12, 12);
    margin-left: 230px;
    margin-top: 30px;
}

.main-input-div {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.search-btnn{
    background-color: orangered;
    border: none;
    color: white;
    font-size: 18px;
    padding: 13px 30px;
    margin-top: 3px;
    border-radius: 3px;
}

.list-item-find {
    padding: 14px;
    width: 400px;
    margin-left: 40px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 30px;
    border: 2px solid black;

}

.hospital-div {
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;

}

.search-btn {
    margin-left: 50px;
    margin-top: 30px;
}

.blooddropimg {
    display: block;
    margin-left: auto;
    margin-right: auto;



}

.find-blood {
    text-align: center;
    font-size: 30px;
    color: rgb(177, 12, 12);
}

.stepscard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;


}

.card {
    height: 200px;

}