body{
    margin: 0;
    padding: 0;
}
.blog{
    text-align: center;
    font-size: 60px;
    color: red;
}
.blog-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
