.whoarea{
    width: 1448px;
   
}
.hrone{
    width: 33%;
    margin-right: 30px;
    position: relative;
   top: 80px;
}
.hrtwo{
    width: 33%;
    margin-left: 30px;
    margin-top: 80px;
}
.about-title{
    /* margin-left: 600px; */
    text-align: center;
   position: relative;
   top: -45px;
   font-size: 33px;
   color: orangered;
}
.facility-div{
    display: flex;
    justify-content: space-around;
    
}
.Gearth-img{
    width: 100vw;
}
.About-container{
    display: flex;
}