.footer-container{
  height: 300px;
  width: 100%;
  margin-top: 90px;
  background-color: #1e2a36;
  color: white;
  font-size: 20px;
}
.container{
  display: flex;
  justify-content: space-evenly;
}
.contact-info-div{
  display: flex;
}
.msg-container{
  display: flex;
}
.icons-contact{
  display: flex;
  justify-content: space-around;
}
.text-decoration{
  text-decoration: none;
  color:#fc6a09;
}
.text-decoration:hover{
color: white;
}