
.home {
    text-align: center;
}

.background-img {
    background-image: url("./img/blood.jpg");
    background-size: cover;
    height: 85vh;
}

.container-blood-find {
    display: flex;
    margin-top: 30px;
}

.homeform-container {
    background-color: rgba(0, 0, 0, 0.47);
    height: 300px;
    width: 520px;
    margin: 60px;
    margin-left: 120px;
    border-radius: 3px;
}


.home-danateline {
    color: white;
    margin: 50px;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.crl-container {
    display: flex;
}


.cirlefirst {
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin-top: -20px;
    margin-left: 100px;
    background-color: rgba(255, 255, 255, 0.226);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.868);
    cursor: pointer;
}


.drop-blood {
    font-size: 70px;
    color: aliceblue;
    margin: 10px;
    padding-left: 70px;
    padding-top: 10px;
}

.blood-bonor-text {
    font-size: 25px;
    margin-left: 52px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.selectgroup {
    height: 43px;
    width: 210px;
    font-size: 20px;
    margin-top: 45px;
    margin-left: 40px;
    border-radius: 4px;
}

.state {
    height: 40px;
    width: 194px;
    font-size: 20px;
    margin-top: 45px;
    margin-left: 40px;
    border-radius: 4px;
    padding-left: 10px;
}


.conatiner-cards-home {
    margin-top: 12px;
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    justify-content: center; 
}


.card-home {
    height: 240px;
    width: calc(50% - 0px); 
    margin-top: 0px;
    background-color:#e45d03;
}


.name-danation {
    font-size: 35px;
    font-weight: bold;
    color: white;
    text-align: center;
}

.rupees {
    font-size: 60px;
    margin-left: 40px;
    margin-top: 10px;
    padding-right: 10px;
}

.danate-line {
    color: black;
    font-size: 20px;
    margin-top: -50px;
    color: white;
}


.container-donation {
    display: flex;
    flex-direction: row;
    margin-top: -10px;
    color: white;
}


.flag {
    font-size: 60px;
    margin-left: 40px;
    margin-top: 25px;
    padding-right: 10px;
}
.btnnnn {
    margin: 0;
}
.count-line{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.homii{
    margin-top: 20px;
    border-radius: 10px;
}
.countcontainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.donateblood-img{
    height: 300px;
    margin: 80px;
}
.containrdonater{
    display: flex;
}
.shoulddonate{
    font-size: 30px;
     margin-left: 30px;
     margin-top: 80px;
     font-weight: bold;
}
.should-text{
    text-align: justify;
    margin-right: 130px;
    margin-left: 30px;
    font-size: 20px;
}
.donar-find{
    padding: 15px 34px;
    border: none;
    color: white;
    background-color: #fc6a09;
    font-size: 16px;
    border-radius: 3px;
    margin-left: 350px;
    margin-top: 30px;
}
.donar-find:hover{
    background-color: rgba(240, 248, 255, 0.306);
    border: 2px solid #fc6a09;
}
.btn-bedonar{
    font-size: 15px;
    padding: 12px 32px;
    border: 2px solid #bbb;
    margin-left: 30px;
    background-color: white;
    border-radius: 30px;

}
.text-sponcer{
    text-align: center;
    font-size:40px ;
}
.sponser-container{
    display: flex;
    justify-content: space-evenly;
}


@media (max-width: 768px) {
    .homeform-container {
        width: 100%; 
        margin: 20px; 
    }

    
    .cirlefirst {
        height: 150px;
        width: 150px;
        margin-left: 20px;
    }


    .drop-blood {
        font-size: 40px;
        padding-left: 30px;
        padding-top: 5px;
    }

    .blood-bonor-text {
        font-size: 20px;
        margin-left: 20px;
    }

    .selectgroup,
    .state {
        width: 100%; 
        margin: 10px 0; 
    }

   

    .card-homee {
        width: 100%; 
    }

    .name-danation,
    .rupees,
    .danate-line,
    .flag {
        text-align: center; 
    }
}
